@charset "UTF-8";

html, body {
    width: 100%;
    height: 100%;
}

li {
    padding: 5px 10px;
}

.navbar {
    padding: 0px;
}

.navbar-brand {
    padding: 0px 20px;
}

.show-right {
    float: right;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: white;
  	color: black;
}

.card {
    width: 40%;
    margin: 20% auto;
}

.card-header {
	color: green;
}

.title-container {
    text-align: center;
    margin-bottom: 30px;
}

.btn-container {
    text-align: center;
}

.valid-status-container {
	text-align: center;
	color: green;
}

.invalid-status-container {
	text-align: center;
	color: red;
}